.container {
  display: flex;
  width: 90%;

  .item {
    display: flex;
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00f;
    color: #fff;
    height: 30px;
    text-transform: uppercase;
    margin: 1px;
    padding: 6px 10px;
  }

  .item:hover {
    background-color: #0cf;
  }
} 

p {
  padding-left: 0.5em;
  padding-bottom: 1em;
}

.submenu {
  display: none;
  position: absolute;
  padding-top: 2.28em;

  .item {
    width: 200px;
    background-color: #90f;
    text-transform: capitalize;
  }
}
.item:hover > .submenu {
  display: block;
}
