#container {
  width: 900px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#header {
    clear: both;
    border: 3px solid red;
    height: 100px;
    margin-bottom: 0.1em;
}

#left {
    float: left;
    border: 3px solid red;
    height: 600px;
    width: 200px;
    margin-bottom: 0.1em;
    margin-right: 0.1em;
}

#main {
    float: left;
    border: 3px solid red;
    width: 480px;
    height: 540px;
}

#right {
    float: right;
    border: 3px solid red;
    height: 600px;
    width: 200px;
}

#page-footer {
    clear: both;
    border: 3px solid red;
    height: 50px;
}
